header {
    border-bottom: solid rgba(229, 229, 229, 1);
}

.main-nav {
    margin: 10px 0;
    padding: 10px 17px;
}

.main-nav .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    text-decoration: none;
    margin-left: 17px;
}

.nav-links {
    display: none;
}

.hero img {
    display: none;
}

.cta-hero {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 60px 16px;
}


.hero .cta-button {
    background-color: var(--color-primary);
    color: white;
    width: 152px;
    height: 36px;
    padding: 6px 40px 6px 40px;
    gap: 10px;
    border-radius: 8px;
    text-align: center;
}

.popular-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 60px 16px;
}

.popular-section .container {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.place-card {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.place-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.place-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.place-name {
    font-size: 18px;
}

.choose-section {
    display: flex;
    flex-direction: column;
    margin: 60px 16px;
    gap: 32px;
}

.choose-section h2 {
    text-align: center;
}

.choose-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.choose-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.choose-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.choose-card .place-info {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    gap: 4px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 60px 16px;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-links a {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    text-decoration: none;
}

.social-links a img {
    width: 40px;
    height: 40px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 60px 16px;
}

/*.footer-column {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*}*/

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
}

.footer-links a {
    text-decoration: none;
    color: var(--color-secondary-text);
}

/* Browse */
.browse-hero{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 60px 16px;
}

.browse-hero h1{
    font-size: 24px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.browse-hero p{
    font-size: 14px;
    line-height: 21px;
}

.listings .container{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin: 30px 16px;
}

.listings p {
    font-size: 14px;
}

.listings .container {
    margin: 30px 28px;
}

.listings img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.listing-card{
    position: relative;
}

.listings .listing-card{
    box-shadow: rgba(17, 12, 46, 0.22) 0px 48px 100px 0px;
}

.listings figcaption{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0.75rem;
}

.listing-title{
    display: flex;
    justify-content: space-between;
}

.listing-card figcaption h3{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.listing-card figcaption p{
    color: white;
    font-size: 0.875rem;
    margin: 0.25rem 0;
}

/* Home Desktop*/
@media only screen and (min-width: 1024px) {
    .main-nav {
        display: flex;
        justify-content: space-between;
        margin: 0 150px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    header .main-nav .nav-links li {
        list-style-type: none;
    }

    .popular-section .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .popular-section .container img {
        width: 263px;
        height: 350px;
        gap: 29px;
        border-radius: 8px;
    }

    .choose-section .container {
        display: grid;
        grid-template-columns:repeat(5, 1fr);
    }

    .hero {
        display: flex;
        flex-direction: row;
    }

    .cta-hero {
        width: 100%;
    }

    /*Browse*/
    .listings .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /*background-color: #0042CS8;*/
    }
}


