body {
    margin: 10px 150px;
    border: 100px #0042C8;
    .poppins-medium
}

.hero{
    /*background-color: #0042C8;*/
    border: solid 1px #0042C8;
}

.hero h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    color: #152C5B;
}

.hero p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #717171;
}

.hero button {
    width: 201px;
    height: 43px;
    padding: 8px 60px 8px 60px;
    gap: 10px;
    border-radius: 8px;
    color: white;
    background: #0042C8;
    border: none;
}

nav {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0042C8;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.navButton {
    border: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.popular-section {
    border: solid 1px;
    display: grid;
    justify-content: center;
}

.popular-section h3 {
    font-family: "Poppins", serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}

.popular-section .container {
    /*background-color: black;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 29px;
}

.popular-section .container img {
    width: 263px;.popular-section {
    display: grid;
    justify-content: center;
}
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.place-name {
    font-family: "Poppins", serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
}

.place-location {
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #717171;;
}

.choose-section {
    display: grid;
    justify-content: center;
}

.choose-section h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}

.choose-section .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
}

.choose-section img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}


footer h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #0042C8;
}

.media {
    display: flex;
    align-items: center;
    gap: 20px;

}

.media img {
    width: 40px;
    height: 40px;
}

footer .right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
}

.right p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

@media (max-width: 700px) {
    .popular-section {
        border: solid 1px;
        display: grid;
        justify-content: center;
    }

    .popular-section .container {
        /*background-color: red;*/
        display: flex;
        flex-direction: column;
        gap: 29px;
    }

    .popular-section .container img{
        width: 288px;
        height: 350px;
        object-fit: cover;
    }

    .choose-section .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .choose-section img {
        width: 136px;
        height: 200px;
        border-radius: 8px;
        object-fit: cover;
    }



}


